body {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 12pt;
	margin-left: 20px;
	margin-right: 20px;
}

#header {
	text-align: center;
	margin-bottom: 1em;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	font-style: italic;
	font-family: "Impact", fantasy;
}

legend {
	font-family: "Impact", fantasy;
	font-size: 120%;
}

textarea {
	font-family: monospace;
	font-size: 12pt;
	text-align: right;

}

.block {
	display: block;
}

.checked {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

.unchecked {
	color: black;
	font-weight: normal;
	text-decoration: none;
}

.body-background{
	/* Image not found at url */
	background-image: url("http://www.cs.washington.edu/education/courses/190m/CurrentQtr/labs/6/hundred-dollar-bill.jpg");

	/*../images/recipeImages/background.gif*/
}

.body-background-none{
	background-image: none;
}
