<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Output</title>
</head>
<body>
    <form action="/result" method="post">
        <label>Name </label><input name="name">
        <label>Age </label><input name="age">
        <button type="submit">Submit</button>
    </form>
</body>
</html>